*.qcow2
*.stl
.direnv
.nixos-test-history
.pre-commit-config.yaml
.sops.yaml
.zig-cache
repl-result-*
result*
src/*.c
src/*.import.scm
src/*.o
src/*.so
src/copy
src/homelab-backup-recv
src/homelab-garage-door
src/macgen
src/networkd-dhcpv6-client-prefix
src/nix-key
src/nixos-kexec
src/pb
src/pomo
zig-out
zig-pkg
