# vim: set ft=conf:
# set $gnome-schema org.gnome.desktop.interface
#
# exec_always {
#         systemctl --user import-environment
#         systemctl --user start sway-session.target
#         dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK XDG_CURRENT_DESKTOP
#         gsettings set $gnome-schema cursor-theme 'Adwaita'
#         gsettings set $gnome-schema gtk-key-theme 'Emacs'
#         gsettings set $gnome-schema gtk-theme 'Adwaita-dark'
#         gsettings set $gnome-schema icon-theme 'Adwaita'
# }
#
# output * bg #000000 solid_color
# floating_modifier $mod normal
