/dts-v1/;
/plugin/;

/ {
	compatible = "solidrun,clearfog-a1";
};

&w25q32 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "uboot";
			reg = <0x0 0x200000>;
		};

		partition@200000 {
			label = "ubootenv";
			reg = <0x200000 0x20000>;
		};

		partition@220000 {
			label = "ubootenvred";
			reg = <0x220000 0x20000>;
		};

		partition@240000 {
			label = "empty";
			reg = <0x240000 0x1c0000>;
		};
	};
};
