{{ template "head" . }}

{{ template "prom_right_table_head" }}
<tr>
  <th>Node</th>
  <th>{{ template "prom_query_drilldown" (args "sum(up{job='node'})") }} / {{ template "prom_query_drilldown" (args "count(up{job='node'})") }}</th>
</tr>
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>Network</h1>

<table class="table table-condensed table-striped table-bordered" style="width: 0%">
<tr>
  <th>Internet<br/>Target</th>
  <th>IPv4 Connectivity</th>
  <th>IPv6 Connectivity</th>
</tr>
{{ range query "up{job=~'icmpv._connectivity'}" | sortByLabel "instance" }}
<tr>
  <td>{{ .Labels.instance }}</td>
  {{ with printf "sum(probe_success{job='icmpv4_connectivity',instance='%s'})" .Labels.instance | query }}
    <td{{ if eq (. | first | value) 1 }}>Up{{ else }} class="alert-danger">Down{{ end }}</td>
  {{ end }}
  {{ with printf "sum(probe_success{job='icmpv6_connectivity',instance='%s'})" .Labels.instance | query }}
    <td{{ if eq (. | first | value) 1 }}>Up{{ else }} class="alert-danger">Down{{ end }}</td>
  {{ end }}
</tr>
{{ else }}
<tr><td colspan=4>No internet targets found.</td></tr>
{{ end }}
</table>


{{ template "prom_content_tail" . }}

{{ template "tail" }}
