# CONFIG_INOTIFY_USER=y # this is placed here by nixos somewhere
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y
CONFIG_DMIID=y
CONFIG_AUTOFS4_FS=y
CONFIG_TMPFS_XATTR=y
CONFIG_SECCOMP=y
CONFIG_BINFMT_ELF=y
CONFIG_INOTIFY_USER=y
CONFIG_SWAP=y
