/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rockchip,rk3588-cru.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/power/rk3588-power.h>

/ {
	compatible = "rockchip,rk3588s";
};

&i2c2 {
	status = "okay";

	dw9714: dw9714@c {
		compatible = "dongwoon,dw9714";
		reg = <0x0c>;
		rockchip,camera-module-index = <0>;
		rockchip,vcm-start-current = <10>;
		rockchip,vcm-rated-current = <85>;
		rockchip,vcm-step-mode = <5>;
		rockchip,camera-module-facing = "front";
	};

	ov13855: ov13855@36 {
		compatible = "ovti,ov13855";
		reg = <0x36>;
		clocks = <&cru CLK_MIPI_CAMARAOUT_M4>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&mipim0_camera4_clk>;
		rockchip,grf = <&sys_grf>;
		reset-gpios = <&gpio1 RK_PA6 GPIO_ACTIVE_HIGH>;
		pwdn-gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "CMK-OT2016-FV1";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&dw9714>;
		port {
			ov13855_output: endpoint {
				remote-endpoint = <&csi4_input>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi4 {
	status = "okay";
};

&csi4_in {
	csi4_input: endpoint {
		data-lanes = <1 2>;
		/* link-frequencies = /bits/ 64 <445500000>; */
		remote-endpoint = <&ov13855_output>;
	};
};

&csi_dphy1 {
	status = "okay";
};

&vicap {
	status = "okay";
};

&vicap_mmu {
	status = "okay";
};
